DocumentacionFASE2/scrypts/RedSocialProyectos/RedSocialProyectos/Web References/usuario/Servicio.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Service/" targetNamespace="http://Service/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Agregarusuario" type="tns:Agregarusuario" />
  <xs:element name="AgregarusuarioResponse" type="tns:AgregarusuarioResponse" />
  <xs:element name="Buscarid" type="tns:Buscarid" />
  <xs:element name="BuscaridResponse" type="tns:BuscaridResponse" />
  <xs:element name="Login" type="tns:Login" />
  <xs:element name="LoginResponse" type="tns:LoginResponse" />
  <xs:element name="Publicar" type="tns:Publicar" />
  <xs:element name="PublicarResponse" type="tns:PublicarResponse" />
  <xs:complexType name="Buscarid">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BuscaridResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Login">
    <xs:sequence>
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="contra" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LoginResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Agregarusuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="apellido" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="contra" type="xs:string" />
      <xs:element minOccurs="0" name="nomusuario" type="xs:string" />
      <xs:element minOccurs="0" name="nick" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AgregarusuarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Publicar">
    <xs:sequence>
      <xs:element name="idusuario" type="xs:int" />
      <xs:element minOccurs="0" name="publicacion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PublicarResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>